<div class="container">
  <div class="menu-heading">
    <mat-icon>visibility</mat-icon>
    <strong>IMovie</strong>
  </div>

  <div class="menu-section">
    <strong class="section-title">MENU</strong>

    <div class="section-content">
      <a routerLink="/" routerLinkActive="active">
        <mat-icon>home</mat-icon> Home
      </a>

      <a routerLink="/community" routerLinkActive="active">
        <mat-icon>forum</mat-icon> Community
      </a>

      <a routerLink="/discover" routerLinkActive="active">
        <mat-icon>explore</mat-icon> Discover
      </a>

      <a routerLink="/awards" routerLinkActive="active">
        <mat-icon>star</mat-icon> Awards
      </a>

      <a routerLink="/celebs" routerLinkActive="active">
        <mat-icon>person</mat-icon> Celebs
      </a>
    </div>
  </div>

  <div class="menu-section">
    <strong class="section-title">LIBRARY</strong>

    <div class="section-content">
      <a routerLink="/history" routerLinkActive="active">
        <mat-icon>history</mat-icon> Recent
      </a>

      <a routerLink="/top-rated" routerLinkActive="active">
        <mat-icon>timeline</mat-icon> Top Rated
      </a>

      <a routerLink="/downloads" routerLinkActive="active">
        <mat-icon>download</mat-icon> Downloaded
      </a>
    </div>
  </div>

  <div class="menu-section">
    <strong class="section-title">CATEGORY</strong>

    <div class="section-content">
      <a routerLink="/tv" routerLinkActive="active">
        <mat-icon>theaters</mat-icon> TV - Show
      </a>

      <a routerLink="/movie" routerLinkActive="active">
        <mat-icon>videocam</mat-icon> Movie
      </a>

      <a routerLink="/anime" routerLinkActive="active">
        <mat-icon>movie</mat-icon> Anime
      </a>
    </div>
  </div>

  <div class="menu-section">
    <strong class="section-title">CATEGORY</strong>

    <div class="section-content">
      <a routerLink="/settings" routerLinkActive="active">
        <mat-icon>settings</mat-icon> Settings
      </a>

      <button>
        <mat-icon>logout</mat-icon>
        <span>Log Out</span>
      </button>
    </div>
  </div>
</div>
